.row{margin:30px 0;}
.row > div {
  text-align:center;
}
header,footer{
  text-align:center;
}
.jumbotron{
 margin-bottom:0;
}

.img-responsive{height:300px;
width:100%;}

img{
  outline:2px solid black;
}
