.row{margin:30px 0;}
.row > div {
  text-align:center;
}
header,footer{
  text-align:center;
}
.jumbotron{
 margin-bottom:0;
}

a > .img-responsive{height:300px;
width:100%;  outline:2px solid black;
}



#return{
  text-decoration:none;
  color:black;
  text-align:center;
  margin: 0 auto;
  border:1px solid black;
  padding:20px;
  width:20%;
  font-size:3em;
}

a,a:hover{
  text-decoration:none;
}


img{
  margin:0 auto;
}

section{
  text-align:center;
}
